.get-started-background {
    margin-bottom: 50px;
    background: #fbdc00;
    display: flex;
    align-items: center;
    justify-content: center;
}


.get-started-content {
    width: 1200px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.get-started-text {
    padding: 25px 0;
    padding-top: 40px;
}

.get-started-text h3{
    font-family: "Ubuntu",sans-serif;
    font-size: 28px;
    line-height: 1.2;
}

.get-started-text h3{
    font-family: "PT Sans",sans-serif;
    font-weight: bold;
}

.button-holder {

    min-width: 72px;
    height: 36px;
    padding: 4px 16px;
    background: #ee3425;
    border: 1px solid#ee3425;
    border-radius: 4px;
    outline: none;
    transition: color .1s linear, background-color .1s linear, border-color .1s linear;
    will-change: color, background-color, border-color;
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    line-height: 1.2;

}

.get-started-content a {
    color: #ee3425;
}

@media (max-width: 767px) {
    .get-started-content {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        padding: 16px;
    }
}

.button_style{
    color: white;
    font-family: "PT Sans",sans-serif;
    font-size: 14px;
    font-weight: 700 !important;
}