.pre-footer-main-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    padding: 0 50px 50px;
    font-family: "PT Sans",sans-serif !important;
    background: #fbdc00;
}

.pre-footer-sub-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.pre-footer-text-heading {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    text-decoration: underline;
}


.footer-items-container {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.footer-items-card {
    margin: 8px 0;
}

.footer-items-card-heading-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 8px;
}

.footer-items-card-heading-style {
    font-weight: 400;
    color: #000;
    text-decoration: none;
}

.footer-items-card-heading-style:hover {
    color: black;
  }


.pre-footer-sub-container-2{
    display: none;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: space-between; */
    width: 100%;
    margin-top: 20px;
    
}

.pre-footer-sub-container-2-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2px;
    margin-top: 20px;
    border-bottom: 0.5px solid gray;
}

.text-heading{
    padding-left: 20px;
}

.image-style{
    padding-right: 20px;
}


@media (max-width: 767px) {
    
    .pre-footer-sub-container{
        display: none;
    }
    .pre-footer-sub-container-2{
        display: flex;
        flex-direction: column;
    }
    .pre-footer-main-container{
        padding-left: 0px;
        padding-right: 0px;
    }
}