.how-it-works-main-container {
    /* width: auto; */
    /* width: 1200px; */
    /* width: fit-content; */
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -120px;
    margin-left: auto;
    margin-right: auto;
}

.how-it-works-inside-container {
    display: flex;
    /* width: fit-content; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.how-it-works-inside-container h3{
    font-family: "PT Sans",sans-serif;
    font-weight: bold;
}

.how-it-works-inside-container h3 {
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: 28px;
}

.how-it-works-button-container {
    display: flex;
    justify-content: space-between;
}


@media (max-width: 767px) {

    .how-it-works-button-container {
        flex-direction: column;
    }
    .how-it-works-main-container{
        width: 100%;
    }

}


.selected {
    width: 220px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0 20px;
    font-weight: 700;
    color: #000 !important;
    border-radius: 40px;
    border-style: solid;
    background-color: #fbdc00;
    border-color: #fbdc00;
    box-shadow: none;
    font-size: 14px;
}


.unselected {
    width: 220px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0 20px;
    font-weight: 700;
    color: #000 !important;
    border-radius: 40px;
    border-style: solid;
    border-color: white;
    box-shadow: none;
    font-size: 14px;
}



.top-stages-Class-left {
    margin-bottom: 120px;
    margin-top: 20px;
    max-width:  300px;
    width:  100%;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0 1px 6px rgba(169, 188, 218, .65);
}

.top-stages-Class-right {
    margin-bottom: 120px;
    margin-top: 20px;
    max-width:  300px;
    width:  100%;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0 1px 6px rgba(169, 188, 218, .65);
}

.bottom-stages-Class-left {
    margin-bottom: 120px;
    max-width:  300px;
    width:  100%;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0 1px 6px rgba(169, 188, 218, .65);
}

.bottom-stages-Class-right {
    margin-bottom: 120px;
    max-width:  300px;
    width:  100%;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0 1px 6px rgba(169, 188, 218, .65);
}


.cogoport-screen {
    display: flex;
    align-items: center;
    justify-content: center;
}

.demo-holder {
    display: flex;
    /* flex-direction: row; */
    width: 100%;
    position: relative;
    font-family: "PT Sans",sans-serif;
    justify-content: center;
}

.demo-holder p{
    color: #ee3425;
    font-weight: bold;
}

.demo-holder-sub-holder-left{
    width: 33.33%;
    justify-content: right;
}

.demo-holder-sub-holder-right{
    width: 33.33%;
    justify-content: left;
}

.how-it-works-card-subheader {
    display: flex;
    flex-direction: row;
    /* font-weight: bold; */
    font-size: 20px;
    font-weight: 600;
}

.discover-arrow {
    position: absolute;
    top: 60%;
    left: 33%;
    width: 30%;
    width: 20% !important;
}

.top-right-arrow {
    position: absolute;
    top: 30%;
    right: 23%;
    width: 20% !important;
    
}


.bottom-right-arrow {
    position: absolute;
    top: 60%;
    right: 23%;
    width: 20% !important;
    /* width: 10% !important; */
}

.top-left-arrow {
    position: absolute;
    top: 30%;
    left: 33%;
    width: 20% !important;
}

.arrow-image-style{
    width: 50%;
}

@media (max-width: 767px) {
    .top-left-arrow {
        display: none;
    }
}

@media (max-width: 767px) {
    .discover-arrow {
        display: none;
    }
}

@media (max-width: 767px) {
    .top-right-arrow {
        display: none;
    }
}

@media (max-width: 767px) {
    .bottom-right-arrow {
        display: none;
    }
}

.laptop_image {
    width: 100%;
    height: auto;
} 

.cogoport-screen-mobile {
    display: none;
}

@media (max-width: 767px) {

    .cogoport-screen-mobile {
        display: flex;
    }

    .cogoport-screen {
        display: none;
    }

    .demo-holder {
        flex-direction: column;
    }

    .laptop_image {
        width: 280px;
        height: auto;
    }
    .top-stages-Class-left{
        margin-bottom: 20px;
        width: 100%;
    }
    .top-stages-Class-right{
        margin-bottom: 20px;
        width: 100%;
    }
    .bottom-stages-Class-left{
        margin-bottom: 50px;
        width: 100%;
    }
    .bottom-stages-Class-right{
        margin-bottom: 50px;
        width: 100%;
    }
    .demo-holder{
        align-items: center;
    }
    .demo-holder-sub-holder-left{
        width: 100%;
    }

    .demo-holder-sub-holder-right{
        width: 100%;
    }

}

