.how-it-works-main-container {
    /* width: auto; */
    width: 1200px;
    /* width: fit-content; */
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -120px;
    margin-left: auto;
    margin-right: auto;
}

.how-it-works-inside-container {
    display: flex;
    /* width: fit-content; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.how-it-works-inside-container h3{
    font-family: "PT Sans",sans-serif;
    font-weight: bold;
}

.how-it-works-inside-container h3 {
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: 28px;
}

.how-it-works-button-container {
    display: flex;
    justify-content: space-between;
}


@media (max-width: 767px) {

    .how-it-works-button-container {
        flex-direction: column;
    }
    .how-it-works-main-container{
        width: 100%;
    }

}


.selected {
    width: 220px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0 20px;
    font-weight: 700;
    color: #000 !important;
    border-radius: 40px;
    border-style: solid;
    background-color: #fbdc00;
    border-color: #fbdc00;
    box-shadow: none;
    font-size: 14px;
}


.unselected {
    width: 220px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0 20px;
    font-weight: 700;
    color: #000 !important;
    border-radius: 40px;
    border-style: solid;
    border-color: white;
    box-shadow: none;
    font-size: 14px;
}

.discover-arrow {
    position: relative;
    top: -270px;
    left: 300px
}


.top-stages-Class-left {
    margin-bottom: 120px;
    margin-top: 20px;
    width: 300px;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0 1px 6px rgba(169, 188, 218, .65);
}

.top-stages-Class-right {
    margin-bottom: 120px;
    margin-top: -30px;
    width: 300px;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0 1px 6px rgba(169, 188, 218, .65);
}

.bottom-stages-Class {
    margin-bottom: 120px;
    width: 300px;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0 1px 6px rgba(169, 188, 218, .65);
}

.cogoport-screen {
    display: flex;
    align-items: center;
    justify-content: center;
}

.demo-holder {
    display: flex;
    flex-direction: row;
    font-family: "PT Sans",sans-serif;
}

.demo-holder p{
    color: #ee3425;
    font-weight: bold;
}
.how-it-works-card-subheader {
    display: flex;
    flex-direction: row;
    /* font-weight: bold; */
    font-size: 20px;
    font-weight: 600;
}


.top-right-arrow {
    position: relative;
    top: 260px;
    right: 150px
}


.bottom-right-arrow {
    position: relative;
    top: 120px;
    right: 150px
}

.top-left-arrow {
    position: relative;
    top: -150px;
    left: 300px
}

@media (max-width: 767px) {
    .top-left-arrow {
        display: none;
    }
}

@media (max-width: 767px) {
    .discover-arrow {
        display: none;
    }
}

@media (max-width: 767px) {
    .top-right-arrow {
        display: none;
    }
}

@media (max-width: 767px) {
    .bottom-right-arrow {
        display: none;
    }
}


.laptop_image {
    width: 560px;
    height: 320px
}

.cogoport-screen-mobile {
    display: none;
}

@media (max-width: 767px) {

    .cogoport-screen-mobile {
        display: flex;
    }

    .cogoport-screen {
        display: none;
    }

    .demo-holder {
        flex-direction: column;
    }

    .laptop_image {
        width: 280px;
        height: auto;
    }
    .top-stages-Class-left{
        margin-bottom: 20px;
        width: 100%;
    }
    .top-stages-Class-right{
        margin-bottom: 20px;
        width: 100%;
    }
    .bottom-stages-Class{
        margin-bottom: 50px;
        width: 100%;
    }
    .demo-holder{
        align-items: center;
    }

}