:root {
  --color-primary: #ee3425;
  --color-primary-1: #ee3425;
  --color-primary-2: #ee3425;
  --color-secondary: #fbdc00;
  --color-secondary-1: #ebbe00;
  --color-secondary-5: #fff;
  --font-color: #434343;
  --font-color-heading: #000;
  --font-color-link: var(--color-primary);
  --font-family: "PT Sans", sans-serif;
  --font-family-heading: "Ubuntu", sans-serif;
  --font-size-xl: 18px;
  --font-size-lg: 16px;
  --font-size-md: 14px;
  --font-size-sm: 12px;
  --font-size-xs: 10px;
  --line-height: 1.5;
}

.app-container{
  width: 100%;
}

@media (max-width: 1200px){
  .app-container{
      width: 1200px;
  }
}


@media (max-width: 767px){
  .app-container{
      width: 100%;
  }
}
